<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
    <title>Star Wars Quiz</title>
  </head>
  <body ng-app="quiz">
    <h1 class="title">JAR JAR QUIZ</h1>
    <h3 class="title">Who am I?</h3>
    <div ng-controller="quizController">
            <img src="{{question().image}}">
            <div ng-repeat="choice in question().choices" class="choices">
              <button ng-click="loadNextQuestion()" class="submitButton">{{choice}}</button>
            </div>
    </div>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="code.js"></script>
  </body>
</html>
