@font-face {font-family:"STARWARS";
src:url("STARWARS.ttf") format("truetype");
font-weight:normal;font-style:normal;}

body {
  background-image: url("images/bg.jpg");
  font-family: "STARWARS";
  overflow-x: hidden;
  color:#ffd457;
  margin: auto;
  text-align: center;
}

.img {

      border-radius: 60px;

}
.title {

  font-family: "STARWARS";
  text-align: center;
  color:#ffd457;
  letter-spacing: 4px;

}

.hide {
  display: none;
}

.quizImage {

  width: 100%;
  align-items: center;
}

.submitButton {
  border: none;
  font-family: "STARWARS";
  letter-spacing: 4px;
  border-radius: 15px;
  padding: 5px 30px;
  margin-top: 10px;
  background-color: hsl(45, 100%, 67%);
  color: #0B0B0B;
  cursor: pointer;
}

.submitButton:hover {
  background-color: hsl(45, 100%, 88%);
}

.choices {

  font-size: 20px;

}
